.avatar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 150px;
  // @media (max-width: 1024px) {
  //   grid-column: 1/3;
  // }
  .title {
    font-size: 26px;
    text-decoration: underline;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #505050;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // width: 150px;
  }
}