.security {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    font-size: 26px;
    text-decoration: underline;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}