.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  p {
    font-size: 20px;
    font-weight: 600;
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    li {
      position: relative;
      font-size: 18px;
      font-weight: 600;
      color: #505050;
      &:not(:last-child) {
        padding-right: 20px;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          width: 3px;
          height: 3px;
          background-color: #505050;
          border-radius: 50%;
        }
      }
    }
  }
}
.tab_content_table {
  .tab_content_table_head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    background-color: rgba(255, 158, 156, 0.7);
    .date, .title, .value, .category {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      p {
        font-size: 20px;
        font-weight: 600;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .date {
    width: 25%;
  }
  .title {
    width: 25%;
  }
  .value {
    width: 20%;
  }
  .category {
    width: 20%;
  }
  .actions {
    width: 10%;
  }
  .tab_content_table_body {
    .tab_content_table_item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 7px 5px;
      &:nth-child(even) {
        background-color: rgba(255, 158, 156, 0.2);
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.total {
  padding: 5px;
  border-top: 1px solid #505050;
  background-color: rgba(255, 158, 156, 0.7);

  font-size: 22px;
  font-weight: 600;
}