.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 16px;
  border-bottom: 1px solid #505050;
  background-color: rgb(233, 244, 188, .7);
}